<footer class="footer-10">
  <div class="container">

    <div class="row  pt-4">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">About</h2>
            <ul class="list-unstyled">
              <li><a href="#" >Our story</a></li>
              <li><a href="#" >Awards</a></li>
              <li><a href="#" >Our Team</a></li>
              <li><a href="#" >Career</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Company</h2>
            <ul class="list-unstyled">
              <li><a href="#" >Our services</a></li>
              <li><a href="#" >Clients</a></li>
              <li><a href="#" >Contact</a></li>
              <li><a href="#" >Press</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <li><a href="#" >Blogs</a></li>
              <li><a href="#" >Newsletter</a></li>
              <li><a href="#" >Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5 mb-md-0 mb-4">
        <h2 class="footer-heading right"> Blog</h2>
        <div class="list-unstyled">
          <p>Gajanan Maharaj Nagar, Nashik-Pune Highway, Pune - 411027</p>
        </div>
      </div>

    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright">
          Copyright ©2022 All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>