<!-- <p>
  blog-page works!
</p>
<button (click)="click()">Click</button> -->

<div class="background">

<div class="container">
<div class="row">    
      <!-- <div class="col">
        <form [formGroup]="form">
    
          <div class="form-group">
            <label for="">Blog Title</label>
            <input class="form-control" type="text" name="title" formControlName="title">
          </div>
          
          <div class="form-group">
          <label for="">Blog Sub Title</label>
          <input class="form-control" type="text" name="subtitle" formControlName="subtitle">
        </div>
        
        <div class="form-group">
          <label for="">Blog Description</label>
          <input class="form-control" type="text" name="description" formControlName="description">
        </div>
    
        <button class="btn btn-primary" (click)="save(form.value)">Save</button>
        </form>
      </div> -->      
<div class="col">
  <!-- <app-blog-display-page [getDataId]="getDataId"></app-blog-display-page> -->
</div>


</div>

</div>
</div>